<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Hayao Miyazaki's page</title>
</head>

<body>
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/works">Works of blabla</a></li>
        </ul>
    </nav>
    <header>
        <h1>About Hayao Miyazaki</h1>
    </header>
    <section class="about_miyazaki">
        <article class="biography">
            <p>Hayao Miyazaki (宮崎 駿, Miyazaki Hayao, [mijaꜜzaki hajao]; born January 5, 1941) is a Japanese animator,
                filmmaker, and manga artist. A co-founder of Studio Ghibli, he has attained international acclaim as a
                masterful storyteller and creator of Japanese animated feature films, and is widely regarded as one of
                the
                most accomplished filmmakers in the history of animation.</p>
        </article>
        <aside class="miyazaki_informations">
            <table class="miyazaki_infos_table">
                <thead>
                    <tr>
                        <th colspan="2">
                            <img src="/images/hayao_miyazaki_photo.jpeg" alt="hayao Miyazaki">
                        </th>
                    </tr>
                    <tr>
                        <th colspan="2">HAYAO MIYAZAKI</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <tr>
                        <td class="category">Name</td>
                        <td class="info">宮崎 駿</td>
                    </tr>
                    <td class="category">Born</td>
                    <td class="info">Janurary 5 1941</td>
                    </tr>
                    <tr>
                        <td class="category">Occupations</td>
                        <td class="info">Animate, filmmaker, screenwriter, author</td>
                    </tr>
                    <tr>
                        <td class="category">Spouse</td>
                        <td class="info">Akemi Ota</td>
                    </tr>
                </tbody>
            </table>
        </aside>
    </section>

</body>

</html>